n8n-workflows/image_ocr_http.json
{
  "name": "Image OCR - HTTP Request",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "image-ocr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-image",
      "name": "이미지 업로드",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [32, 176],
      "webhookId": "image-ocr"
    },
    {
      "parameters": {
        "jsCode": "// 이미지를 base64로 준비 (개선 버전)\nconst items = $input.all();\nconst item = items[0];\n\n// Binary data 확인\nif (!item.binary || !item.binary.data) {\n  throw new Error('이미지 데이터가 없습니다. Webhook으로 이미지를 전송했는지 확인하세요.');\n}\n\nconst binaryData = item.binary.data;\n\n// Base64 인코딩\nlet imageBase64;\n\n// n8n의 binary data는 이미 buffer 형태\nif (binaryData.data) {\n  // data 필드가 있으면 그것을 사용\n  if (typeof binaryData.data === 'string') {\n    imageBase64 = binaryData.data;\n  } else if (Buffer.isBuffer(binaryData.data)) {\n    imageBase64 = binaryData.data.toString('base64');\n  } else {\n    imageBase64 = Buffer.from(binaryData.data).toString('base64');\n  }\n} else {\n  // binary data 자체를 인코딩\n  imageBase64 = Buffer.from(binaryData).toString('base64');\n}\n\n// MIME type (image/jpeg는 정상)\nconst mimeType = binaryData.mimeType || 'image/jpeg';\nconst fileName = binaryData.fileName || 'image.jpg';\n\nconsole.log('이미지 준비 완료:', {\n  fileName,\n  mimeType,\n  base64Length: imageBase64.length,\n  sizeKB: Math.round(imageBase64.length / 1024)\n});\n\nreturn [{\n  json: {\n    image_base64: imageBase64,\n    mime_type: mimeType,\n    filename: fileName\n  }\n}];"
      },
      "id": "prepare-image",
      "name": "이미지 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 176]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  const data = $json;\n  const imageUrl = `data:${data.mime_type};base64,${data.image_base64}`;\n  \n  return JSON.stringify({\n    model: 'gpt-4o',\n    messages: [\n      {\n        role: 'user',\n        content: [\n          {\n            type: 'text',\n            text: '이 이미지에 있는 모든 텍스트를 정확하게 추출해주세요. 한글, 영어, 숫자 모두 포함해서 원본 그대로 추출하세요. 추가 설명 없이 텍스트만 반환하세요.'\n          },\n          {\n            type: 'image_url',\n            image_url: {\n              url: imageUrl\n            }\n          }\n        ]\n      }\n    ],\n    max_tokens: 4096,\n    temperature: 0\n  });\n}}",
        "options": {}
      },
      "id": "openai-vision",
      "name": "OpenAI Vision API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [448, 176]
    },
    {
      "parameters": {
        "jsCode": "// OpenAI 응답 파싱 (개선 버전)\nconst response = $input.first().json;\n\n// 에러 체크\nif (response.error) {\n  console.error('OpenAI API 에러:', response.error);\n  return [{\n    json: {\n      error: true,\n      error_type: response.error.type,\n      error_message: response.error.message,\n      error_code: response.error.code,\n      raw_response: response\n    }\n  }];\n}\n\n// 정상 응답 처리\nconst extractedText = response.choices?.[0]?.message?.content || \"\";\n\nif (!extractedText) {\n  console.warn('추출된 텍스트가 없습니다:', response);\n}\n\nreturn [{\n  json: {\n    success: true,\n    extracted_text: extractedText,\n    metadata: {\n      char_count: extractedText.length,\n      word_count: extractedText.split(/\\s+/).filter(w => w).length,\n      line_count: extractedText.split('\\n').length,\n      extracted_at: new Date().toISOString(),\n      model: response.model || 'gpt-4o',\n      usage: response.usage\n    }\n  }\n}];"
      },
      "id": "format-result",
      "name": "결과 포맷팅",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [656, 176]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "response",
      "name": "결과 반환",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [864, 176]
    }
  ],
  "connections": {
    "이미지 업로드": {
      "main": [[{"node": "이미지 준비", "type": "main", "index": 0}]]
    },
    "이미지 준비": {
      "main": [[{"node": "OpenAI Vision API", "type": "main", "index": 0}]]
    },
    "OpenAI Vision API": {
      "main": [[{"node": "결과 포맷팅", "type": "main", "index": 0}]]
    },
    "결과 포맷팅": {
      "main": [[{"node": "결과 반환", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}