n8n-workflows/image_ocr_http.json
{
  "name": "Image OCR - HTTP Request",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "image-ocr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-image",
      "name": "이미지 업로드",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [32, 176],
      "webhookId": "image-ocr"
    },
    {
      "parameters": {
        "jsCode": "// 이미지를 base64로 준비\nconst inputData = $input.first();\nconst binaryData = inputData.binary?.data;\n\nif (!binaryData) {\n  return [{\n    json: {\n      error: \"이미지 데이터가 없습니다.\"\n    }\n  }];\n}\n\n// base64 데이터 추출 (Buffer 객체인 경우 base64로 변환)\nlet imageBase64;\nif (typeof binaryData.data === 'string') {\n  imageBase64 = binaryData.data;\n} else if (Buffer.isBuffer(binaryData.data)) {\n  imageBase64 = binaryData.data.toString('base64');\n} else {\n  imageBase64 = binaryData.data;\n}\n\nconst mimeType = binaryData.mimeType || 'image/jpeg';\n\nreturn [{\n  json: {\n    image_base64: imageBase64,\n    mime_type: mimeType,\n    filename: binaryData.fileName || 'image.jpg'\n  }\n}];"
      },
      "id": "prepare-image",
      "name": "이미지 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 176]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  JSON.stringify({\n    model: 'gpt-4o',\n    messages: [\n      {\n        role: 'user',\n        content: [\n          {\n            type: 'text',\n            text: '이 이미지에 있는 모든 텍스트를 정확하게 추출해주세요. 한글, 영어, 숫자 모두 포함해서 원본 그대로 추출하세요. 추가 설명 없이 텍스트만 반환하세요.'\n          },\n          {\n            type: 'image_url',\n            image_url: {\n              url: 'data:' + $json.mime_type + ';base64,' + $json.image_base64\n            }\n          }\n        ]\n      }\n    ],\n    max_tokens: 4096,\n    temperature: 0\n  })\n}}",
        "options": {}
      },
      "id": "openai-vision",
      "name": "OpenAI Vision API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [448, 176]
    },
    {
      "parameters": {
        "jsCode": "// OpenAI 응답 파싱\nconst response = $input.first().json;\nconst extractedText = response.choices?.[0]?.message?.content || \"\";\n\nreturn [{\n  json: {\n    extracted_text: extractedText,\n    metadata: {\n      char_count: extractedText.length,\n      word_count: extractedText.split(/\\s+/).filter(w => w).length,\n      line_count: extractedText.split('\\n').length,\n      extracted_at: new Date().toISOString(),\n      model: response.model || 'gpt-4o',\n      usage: response.usage\n    }\n  }\n}];"
      },
      "id": "format-result",
      "name": "결과 포맷팅",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [656, 176]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "response",
      "name": "결과 반환",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [864, 176]
    }
  ],
  "connections": {
    "이미지 업로드": {
      "main": [[{"node": "이미지 준비", "type": "main", "index": 0}]]
    },
    "이미지 준비": {
      "main": [[{"node": "OpenAI Vision API", "type": "main", "index": 0}]]
    },
    "OpenAI Vision API": {
      "main": [[{"node": "결과 포맷팅", "type": "main", "index": 0}]]
    },
    "결과 포맷팅": {
      "main": [[{"node": "결과 반환", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}